nav{
    background-color: lightgray;
}

.navbar-brand{
    margin-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: brown;
}

.nav-link-home{
    margin-left: 230px;
    text-decoration: none;
    color: rgb(43, 43, 52);
}

.nav-link-addproperty{
    margin-left: 120px;
    text-decoration: none;
    color: rgb(43, 43, 52);
}

.nav-link-details{
    margin-left: 120px;
    text-decoration: none;
    color: rgb(43, 43, 52);
}

.nav-link-home:hover{
    color: rgb(0, 94, 255);
    
}

.nav-link-addproperty:hover{
    color: rgb(0, 94, 255);
    
}

.nav-link-details:hover{
    color: rgb(0, 94, 255);
    
}